<div class="main-panel">

	<div class="latest-release main-panel-section">

		<div class="album-art">
			<a class="box-shadow hvr-grow" href="https://soundofseven.bandcamp.com/releases" target="_blank">
				<img src="https://f4.bcbits.com/img/a3844841362_16.jpg" alt="Paper Boats">
			</a>

		</div>
		<div class="album-details">
			<div>
				<h5 class="text-color uppercase">New EP out now</h5>
				<div class="album-title">
					<h1><span class="brand-color weight-med">Paper Boats</span> <span class="text-color-2" style="font-size:16px;">available at</span></h1>
				</div>
				<div class="retailers">
					<a href="https://soundofseven.bandcamp.com/releases" class="retailer-logo hvr-grow" target="_blank"><img src="assets/bandcamp.png" alt="Bandcamp logo"></a>
					<a href="http://soundcloud.com/soundofseven" class="retailer-logo hvr-grow" target="_blank"><img src="assets/sc.png" alt="Soundcloud logo"></a>
				</div>	
			</div>
		</div>

	</div>

	<div class="featured-tracks main-panel-section">

		<h4 class="text-color-2 text-line-gap">Featured tracks</h4>
		<div class="featured-tracks-wrapper">

			{%- include featured_tracks.html -%}

		</div>


	</div>

	<div class="activity main-panel-section">

		<div>
			<h2 class="section-title">Events 活动</h2>
			<ul>
				<li>6/11 Arkham Shanghai</li>
				<li>6/15 Arcade Shanghai</li>
				<li>6/20 Yuyintang Shanghai</li>
				<li>7/6 Arkham Shanghai</li>
				<li>7/11 Shelter Shanghai</li>		
			</ul>														
		</div>
		<div>
			<h2 class="section-title">Collaborations 合作</h2>
			<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
		</div>				

	</div>




</div>