---
layout: default
---

<div class="page-container">
	<div class="main-panel">

		<h1 class="section-title">Soundofseven</h1>

		<div class="page-section-columns-2">

			<div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>

			<div>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>

		</div>

		<!--
		<h2 class="section-title">Inspirations</h2>

		<div class="page-section-image-tiles">

			<a class="box-shadow-hover-only hvr-grow" href="http://www.nosajthing.com" target="_blank"><img src="../assets/nsj.gif" alt="Nosaj Thing"></a>

			<a class="box-shadow-hover-only hvr-grow" href="http://www.jonhopkins.co.uk" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIaLV2p8gzwBBeuHjS0gLK5hOCoStX8utJFtSc6PMGShljIihQ" alt="Jon Hopkins"></a>

			<a class="box-shadow-hover-only hvr-grow" href="http://www.bonobomusic.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_MUq2tEdrm4ic0dwSR3CdFwKpv4wzqx9JOC0Ifby-YNn4Hlby0g" alt="Bonobo"></a>

			<a class="box-shadow-hover-only hvr-grow" href="http://www.myanimalhome.net/#/" target="_blank"><img src="http://dis.resized.images.s3.amazonaws.com/540x540/43139.jpeg" alt="Animal Collective"></a>

			<a class="box-shadow-hover-only hvr-grow" href="http://tippermusic.net/" target="_blank"><img src="{%- include tipper-logo-url.html -%}" alt="Tipper Music"></a>


		</div> -->

		<h2 class="section-title">Contact</h2>

		<p>Contact me via direct message on <a href="#" target="_blank">Facebook</a> or <a href="#" target="_blank">Instagram</a></p> 

	</div>
</div>